rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  
    match /authorizedDomains/{document} {
      allow read: if true;
      allow write: if false;
    }
    
    // Allow only authenticated content owners access
    match /usersMetadata/{document} {
      allow read, write: if request.auth.uid == document
    }
    
    match /teams/{document} {
      allow read: if true;
      allow write, create: if get(/databases/$(database)/documents/usersMetadata/$(request.auth.uid)).data.role == "Admin"
    }
    
    match /themes/{documentId} {
      allow read: if true;
      allow write, create: if get(/databases/$(database)/documents/usersMetadata/$(request.auth.uid)).data.assignedTeamId == request.resource.data.teamId 
    }
  }
}
